html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#root {
  height: 100%;
  max-height: 900px;
  max-width: 700px;
  width:100%;
  border: 1px solid rgba(0,0,0,0.1);
  border-top: none;
  position: relative;
}


* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.new-message-list-item {
  background-color: rgba(0,0,0,0.1)!important;
}